@mixin sentence-case() {
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}

.home-wrapper {
  height: 100vh;
}
.header {
  background: $grey;
}

.mainHeader {
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}
.footerText {
  // width: 92px;
  // width: 130px;
  // margin-top: 10px;
  height: 20px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  // text-align: center;
  color: #ffffff;
}

.subHeader {
  font-size: 20px;
  margin-top: 10px;
  color: #ffffff;
  @include sentence-case();
}

.buttonSubscribe {
  height: 40px;
  width: 150px;
  font-size: 15px;
  color: #ffffff;
  background-color: #cf2f44;
  cursor: pointer;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
  &:hover {
    background-color: #c32c40;
  }
}
.modal .header {
  font-size: 25px;
  font-weight: bold;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
}

// .modal{
//   background-image: url(https://i.ibb.co/z7jwz4V/Screenshot-2020-09-24-20-48-20-171-com-android-chrome.jpg);
//   width: 500px;
//   height: 800px;
// }
.modal .content .code {
  font-size: 18px;
  font-weight: normal;
  // background-color: pink;
  align-items: center;
  text-align: left;
}

.modal .content .text {
  font-size: 18px;
  font-weight: normal;
  // background-color: pink;
  align-items: center;
  text-align: left;
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.layer {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-section {
  background-image: url("/background.jpg");
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .row,
  .container-fluid {
    height: 100%;
  }
  .main-content {
    max-width: 70%;
    margin: auto;
    .content-wrapper {
      padding: 0 30px;
      .inner-content {
        .logo {
          margin: 60px 0;
          width: 250px;
          cursor: pointer;
        }
        .already-text {
          color: #fff;
          font-size: 17px;
          text-decoration: none;
        }
        .header-input {
          height: 40px;
        }
      }
    }
  }
  .video-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .react-player {
      border: 4px solid #cf2f44;
      border-radius: 5px;
    }
  }
}
